.container{ max-width:90%;}

.article-container pt-3{ max-width: 80%;}

.article-container{ max-width: 80%;}

.img-sm {
  max-height: 300px;
}

.img-sm img{
  max-height:300px
}

.img-lg {
  max-height: 500px;
}

.img-lg img{
  max-height:500px
}
